/* * {
    box-sizing: border-box;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#firsthead {
    font-family: "Comfortaa";
}
.venus {
    height: 90px;
    width: 120px;
    border-radius: 4px;
    border: 1px gray;
    background: #e0e0e0;
    box-shadow: 10px 10px 70px #bebebe,
        -10px -10px 70px #ffffff;
    margin-right: 35px;
    margin-left: 10px;
}

.mars {
    height: 90px;
    width: 120px;
    border-radius: 4px;
    border: 1px gray;
    background: #e0e0e0;
    box-shadow: 10px 10px 70px #bebebe,
        -10px -10px 70px #ffffff;
    /* margin-right: 15px; */
    margin-left: -10px;
}

.mars:focus {
    background-color: rgb(30, 48, 80);
    color: white;
}
.venus:hover {
    background-color: rgb(30, 48, 80);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 700px;
    background-color: #FFF;
    margin: 0;
    margin-bottom: 50px;
    box-shadow: -1px 0px 25px 0px #21719369;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: 0.5em;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-weight: 400;
}

.form-input {
    padding: 0.3em 0.5em 0.4em;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 1.3em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

.form-btn {
    margin: 0;
    padding: 0.5em;
    background-color: #5B84B1FF;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    transition: transforme 0.1s ease-in-out, background-color 0.2s ease-out;
}

.form-btn:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

#number {
    height: 30px;
    width: 100%;
    margin: 10px 0 0 0;
    border: solid 1px #217093;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Ubuntu Mono';
}

#number:hover {
    border: solid 1px #217093;
    cursor: pointer;
    background-color: deepskyblue;
    color: #FFF;
}

label {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #FC766AFF;
    font-family: "Ubuntu Mono";
    display: block;
}

#result {
    font-size: 12px;
}

#number3 {
    margin-bottom: 15px;
}

footer {
    background-color: #5B84B1FF;
    margin-top: 40px;
    margin-right: -50px;
    margin-left: -10px;
}

.footer--text {
    font-size: 20px;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: #FC766AFF;
}